openapi: 3.0.3
info:
  title: CMS Open Payments API
  description: >-
    The CMS Open Payments public data API serves the federal transparency program
    that publishes payments and transfers of value from drug and medical device
    manufacturers and group purchasing organizations (GPOs) to physicians,
    non-physician practitioners, and teaching hospitals.


    The site at openpaymentsdata.cms.gov is a DKAN open data catalog. All read
    access is free and requires no authentication or API key. Data is organized as
    datasets (one per program year and payment category: General, Research, and
    Ownership and Investment), each backed by a datastore that can be queried with
    a structured query object, with SQL, or downloaded as CSV or JSON.


    This document models the public read surface only: the metastore catalog and
    search, the datastore structured query endpoints, the SQL query endpoint, and
    downloads. The DKAN write and moderation endpoints require Basic Authentication
    and are for CMS data publishers, not public consumers; they are out of scope
    here.
  version: '1.0'
  contact:
    name: CMS Open Payments
    url: https://openpaymentsdata.cms.gov/about/api
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
  - url: https://openpaymentsdata.cms.gov/api/1
    description: CMS Open Payments public data API (DKAN)
tags:
  - name: Metastore
    description: DCAT-US dataset catalog and metadata.
  - name: Search
    description: Full-text and faceted dataset discovery.
  - name: Datastore Query
    description: Structured query over a dataset distribution.
  - name: Datastore SQL
    description: SQL query over a datastore resource.
  - name: Download
    description: Bulk CSV or JSON download of query results.
paths:
  /metastore/schemas/dataset/items:
    get:
      operationId: listDatasets
      tags:
        - Metastore
      summary: List all datasets
      description: >-
        Returns the DCAT-US metadata for every Open Payments dataset (each program
        year of General, Research, and Ownership data). No authentication required.
      parameters:
        - name: page-size
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of dataset items to return.
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Page number for pagination.
      responses:
        '200':
          description: An array of dataset metadata objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
  /metastore/schemas/dataset/items/{datasetId}:
    get:
      operationId: getDataset
      tags:
        - Metastore
      summary: Get one dataset's metadata
      description: >-
        Returns the DCAT-US metadata for a single dataset. Pass
        show-reference-ids to resolve the distribution and datastore identifiers
        needed to query the data.
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: The dataset UUID.
        - name: show-reference-ids
          in: query
          required: false
          schema:
            type: boolean
          description: When present, expands distribution reference identifiers.
      responses:
        '200':
          description: A dataset metadata object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '404':
          $ref: '#/components/responses/NotFound'
  /search:
    get:
      operationId: searchDatasets
      tags:
        - Search
      summary: Search datasets
      description: >-
        Full-text and faceted search across all Open Payments datasets. Filter by
        keyword (for example a program year like 2021), theme, or free text.
      parameters:
        - name: fulltext
          in: query
          required: false
          schema:
            type: string
          description: Free-text search string.
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: Keyword facet, such as a program year.
        - name: theme
          in: query
          required: false
          schema:
            type: string
          description: Theme / category facet.
        - name: page-size
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            default: 10
          description: Results per page (max 100).
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Page number.
      responses:
        '200':
          description: Search results with a total count and matching datasets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: string
                  results:
                    type: object
  /datastore/query/{datasetId}/{index}:
    get:
      operationId: queryDatastoreByDatasetGet
      tags:
        - Datastore Query
      summary: Query a dataset distribution (GET)
      description: >-
        Query the rows of a dataset's distribution by dataset id and distribution
        index (usually 0). Filtering, column selection, sorting, and pagination are
        expressed as query-string parameters. No authentication required.
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: The dataset UUID.
        - name: index
          in: path
          required: true
          schema:
            type: integer
            default: 0
          description: The zero-based distribution index within the dataset.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 500
          description: Maximum number of rows to return.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
        - name: conditions
          in: query
          required: false
          schema:
            type: string
          description: Filter conditions (property, value, operator).
        - name: properties
          in: query
          required: false
          schema:
            type: string
          description: Subset of columns to return.
      responses:
        '200':
          description: A page of matching rows plus row count, schema, and echoed query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
    post:
      operationId: queryDatastoreByDatasetPost
      tags:
        - Datastore Query
      summary: Query a dataset distribution (POST)
      description: >-
        Query the rows of a dataset's distribution by dataset id and distribution
        index using a structured JSON query body. Preferred for complex filters.
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: The dataset UUID.
        - name: index
          in: path
          required: true
          schema:
            type: integer
            default: 0
          description: The zero-based distribution index within the dataset.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
      responses:
        '200':
          description: A page of matching rows plus row count, schema, and echoed query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
  /datastore/query/{distributionId}:
    post:
      operationId: queryDatastoreByDistribution
      tags:
        - Datastore Query
      summary: Query a distribution directly
      description: >-
        Query a datastore resource directly by its distribution identifier
        (resolved from dataset metadata with show-reference-ids). The same query
        body can join across multiple distributions.
      parameters:
        - name: distributionId
          in: path
          required: true
          schema:
            type: string
          description: The distribution (datastore resource) identifier.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
      responses:
        '200':
          description: A page of matching rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
  /datastore/query/{datasetId}/{index}/download:
    get:
      operationId: downloadDatastore
      tags:
        - Download
      summary: Download query results
      description: >-
        Stream the results of a datastore query as a file. Use the format query
        parameter to choose csv or json.
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: The dataset UUID.
        - name: index
          in: path
          required: true
          schema:
            type: integer
            default: 0
          description: The zero-based distribution index.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
            default: csv
          description: Output file format.
      responses:
        '200':
          description: A CSV or JSON file of the query results.
          content:
            text/csv: {}
            application/json: {}
  /datastore/sql:
    get:
      operationId: queryDatastoreSql
      tags:
        - Datastore SQL
      summary: Run a SQL query
      description: >-
        Run a SQL-style query against a datastore resource. The query references a
        datastore table by its resource id (for example
        [SELECT * FROM resource-id][WHERE ...][LIMIT 10];). No authentication
        required. Returns HTTP 400 when the query parameter is missing.
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: The SQL query string over a datastore resource.
        - name: show_db_columns
          in: query
          required: false
          schema:
            type: boolean
          description: Include the internal datastore column names in the response.
      responses:
        '200':
          description: An array of result rows.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Missing or invalid query parameter.
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Dataset:
      type: object
      description: DCAT-US dataset metadata.
      properties:
        title:
          type: string
        description:
          type: string
        accessLevel:
          type: string
        keyword:
          type: array
          items:
            type: string
        contactPoint:
          type: object
        distribution:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    Distribution:
      type: object
      description: A downloadable / queryable resource within a dataset.
      properties:
        identifier:
          type: string
          description: The distribution (datastore resource) identifier.
        title:
          type: string
        format:
          type: string
        downloadURL:
          type: string
    Query:
      type: object
      description: A structured datastore query.
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
        properties:
          type: array
          items:
            type: string
          description: Columns to return; omit for all columns.
        sorts:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              order:
                type: string
                enum:
                  - asc
                  - desc
        limit:
          type: integer
          default: 500
        offset:
          type: integer
          default: 0
    Condition:
      type: object
      properties:
        property:
          type: string
          description: Column name to filter on.
        value:
          type: string
          description: Value to compare against.
        operator:
          type: string
          description: Comparison operator (=, <>, >, <, >=, <=, like, in, between).
    QueryResult:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
          description: The matching rows.
        count:
          type: integer
          description: Total number of rows matching the query.
        schema:
          type: object
          description: Column schema for the queried resource.
        query:
          type: object
          description: The query as interpreted by the server.
    Error:
      type: object
      properties:
        message:
          type: string
        status:
          type: integer
        timestamp:
          type: string
